@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    background: #37323E;
    color: #FCF7FF;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.main-button {
    background: #79B4A9;
    border: 1px solid #37323E;
    border-radius: 10px;
    font-size: 30px;
    padding: 5px 10px 5px 10px;
}

.main-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#jamalong {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#mainpage {
    cursor: pointer;
}

#titlebar {
    font-size: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.settings {
    transition: transform .2s ease-in-out;
}

.align-left {
    margin: auto 0 auto 0;
    text-align: left;
}

.back:hover {
    transform: scale(1.1);
}

.home:hover {
    transform: scale(1.1);
}

.gear:hover {
    transform: scale(1.1) rotate(90deg);
}

.settings:hover {
    cursor: pointer;
}

#page-center {
    padding: 10px;
    height: 100%;
}

.bar {
    margin: 20px 5px 20px 5px;
    height: auto;
    justify-content: space-between;
}

.room {
    background: #50514F;
    border-radius: 10px;
}

.room-detail {
    padding: 10px 5px 10px 5px;
}

#roomlist {
    max-height: 100px;
    overflow-y: scroll;
    padding-right: 10px;
}

.saas {
    display: flex;
    height: 100%;
}

.main {
    flex-direction: column;
}

#page-landing {
    text-align: center;
}

.wrapper {
    height: 100%;
    display: flex;
}

.centered {
    text-align: center;
}

.expand {
    width: 100%;
}

.gap {
    gap: 10px;
}

.center {
    margin: auto;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.mini-margin {
    margin: 3px;
}

.add-margin {
    margin-bottom: 10px;
}

.shrink {
    height: 35px;
}

.fix {
    font-size: 24px;
    height: 32px;
}

.shrink-font {
    font-size: 20px;
}

.volume {
    padding: 10px 10px 5px 10px;
}

.selectable {
    cursor: pointer;
}

.hidden {
    display: none;
}

input[type=text], select {
    width: 100%;
    font-size: 13px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #79B4A9;
}

::-webkit-scrollbar-track {
    background-color: #FCF7FF;
}
  